STRIPE_PUBLIC_KEY=pk_test_51MRWwzAQCuru3FKxT20ovetIQMdy2eLmHwzC45oewEnPambhkKSlcTPww1Jd4URywxCoxAQgIkwqprJ3UB2h8fY600MqsJtdNO
STRIPE_SECRET_KEY=sk_test_51MRWwzAQCuru3FKxIj5HMsfCDNzbFOInOXMIDyVXozq5Jnb0ZeESzsK4pX9aD9MK1FWUZ7uU9g1X7cp3czB9Qk3s006fYmPxbN
ENDPOINT_SECRET=whsec_ziOrz7Z6KkFSSUjpmUh5uEoNakzIexRG

AUTH_RSA_PUBLIC_KEY = "-----BEGIN RSA PUBLIC KEY-----
MIGJAoGBAM36n1r2gzKpHORp7zIt0lwQrQ7RZ6wfomIzP4oOulTACgAz8o8OfEWd
E4kNIEfIcSY9WfnHwapXmVD37qX3uN0QRw+jrCSyHJwzzZ+BzE6a+0DLhSjGr8B6
mViqmWFxRMZW6jhmV04uY3ySwabOFamw51PRuRiKkcKfmxZnF3bVAgMBAAE=
-----END RSA PUBLIC KEY-----"

PAYMENTS_POSTGRES_DSN = postgresql://app:postgres@payment_db:5432/payment_history

AUTH_SERVICE_HOST = nginx:443

NOTIFICATION_SERVICE_HOST = http://app:8000/api/v1/add_notivication/
